In [1]:
import pandas as pd
from pyhive import presto
import getpass
import auth
import psycopg2 as pg
import pandas.io.sql as psql
import pandas_profiling
from datetime import datetime
from datetime import date
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [2]:
import pandas as pd
from pyhive import presto
import getpass
import auth
import psycopg2 as pg
import pandas.io.sql as psql
import pandas_profiling
from datetime import datetime
from datetime import date
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import scipy.stats as st
from scipy.stats import pearsonr
from scipy.stats import spearmanr
from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LinearRegression
from sklearn import metrics
import statsmodels.api as sm
%matplotlib inline
from statsmodels.gam.api import GLMGam, BSplines
from statsmodels.gam.tests.test_penalized import df_autos
from patsy import dmatrices
from statsmodels.stats.outliers_influence import variance_inflation_factor
from statsmodels.formula.api import ols

In [23]:
pd.set_option('display.max_columns', None)

In [24]:
from IPython.core.display import display, HTML 
display(HTML("<style>.container { width:80% !important; }</style>"))

In [ ]:
!pip install git+https://github.bus.zalan.do/Sonic/zalando-setuptools.git#egg=zalando_setuptools
!pip install git+https://github.bus.zalan.do/astra/dwh-connect-tool.git#egg=mops_dwh
    
from mops_dwh.astra_dwh import AstraDwh
connector = AstraDwh(user='esugecmez')

In [ ]:
flags = connector.from_sql("""select config_sku, flag_partner_program_config as flag from mops_economics.d_article_config 
limit 1""")

flags.head()

In [ ]:
import auth
import getpass

user  = getpass.getuser()
token = auth.get_valid_token()
import os
from pyhive import presto

connection = presto.connect(
    protocol='https',
    host=os.environ['PRESTO_HOST'],
    port='443',
    username=user,
    password=token
)

In [ ]:
query = """SELECT *
FROM dwh_insider.f_salesorder_position orp
limit 50"""
image_count = pd.read_sql_query(query, connection)
image_count.head()

In [ ]:
import turbodbc as db
from turbodbc import connect, make_options, Megabytes
options = make_options(read_buffer_size=Megabytes(100),
                        parameter_sets_to_buffer=1000,
                        varchar_max_character_limit=10000,
                        use_async_io=True,
                        prefer_unicode=True,
                        autocommit=True,
                        large_decimals_as_64_bit_types=True,
                        limit_varchar_results_to_max=True)
conn = connect(dsn="exa", turbodbc_options=options) #put again the dsn of the odbc.ini file
cursor = conn.cursor()

In [ ]:
sql = """SELECT DISTINCT CONFIG_SKU,BRAND,CATEGORY,CGI,CGII, CGIII FROM ZALANDO_ETL.V_ARTICLE_A
"""
cg = pd.DataFrame.from_records(cursor.execute(sql).fetchall())
cg.columns=[d[0] for d in cursor.description]
cg.count()

In [1]:
import turbodbc as db
from turbodbc import connect, make_options, Megabytes
options = make_options(read_buffer_size=Megabytes(100),
                        parameter_sets_to_buffer=1000,
                        varchar_max_character_limit=10000,
                        use_async_io=True,
                        prefer_unicode=True,
                        autocommit=True,
                        large_decimals_as_64_bit_types=True,
                        limit_varchar_results_to_max=True)
conn = connect(dsn="exaBI", turbodbc_options=options) #put again the dsn of the odbc.ini file
cursor = conn.cursor()

In [4]:
sql = """SELECT * FROM  MERCHANT_MSTR.F_MOPS_MERCHANT_CONFIG_SHOP_DAY
WHERE merchant_id = '810d1d00-4312-43e5-bd31-d8373fdd24c7'
limit 50
"""
Zalando = pd.DataFrame.from_records(cursor.execute(sql).fetchall())
Zalando.columns=[d[0] for d in cursor.description]
Zalando.head()

,SK_DATE,SK_SALES_CHANNEL,SALES_CHANNEL_ID,SK_COUNTRY,ISO_COUNTRY_CODE,SK_MERCHANT,MERCHANT_ID,SK_CONFIG,CONFIG_SKU,IS_OUTLET,...,COUNT_SIMPLES_ONLINE_BUYABLE,COUNT_SIMPLES_ONLINE_NOT_BUYABLE,SK_CONFIG_BUYABLE,SK_COUNTRY_CONFIG_BUYABLE,PRODUCT_SIZE_AVAILABILITY,PDP_VIEWS_ALL_MERCHANTS,PFS_STOCK,ZFS_STOCK,DWH_CREATED,DWH_LAST_MODIFIED
0,20200511,15,ebf57ebf-e26d-4ebd-8009-6ad519073d2a,4,IT,29,810d1d00-4312-43e5-bd31-d8373fdd24c7,52699774,CO121G087-J11,1,...,7,0,52699774,4,1.00000,NaN,None,160,2021-02-02 21:46:28.184,2021-02-02 21:46:28.184
1,20200511,15,ebf57ebf-e26d-4ebd-8009-6ad519073d2a,4,IT,29,810d1d00-4312-43e5-bd31-d8373fdd24c7,52734273,TI111A07S-Q11,1,...,11,0,52734273,4,1.00000,29.0,None,280,2021-02-02 21:46:28.184,2021-02-02 21:46:28.184
2,20200511,15,ebf57ebf-e26d-4ebd-8009-6ad519073d2a,4,IT,29,810d1d00-4312-43e5-bd31-d8373fdd24c7,52801986,GL921C0K2-M11,1,...,4,1,52801986,4,0.80000,71.0,None,10,2021-02-02 21:46:28.184,2021-02-02 21:46:28.184
3,20200511,15,ebf57ebf-e26d-4ebd-8009-6ad519073d2a,4,IT,29,810d1d00-4312-43e5-bd31-d8373fdd24c7,52952118,SIF22O085-A11,0,...,6,0,52952118,4,1.00000,1.0,None,942,2021-02-02 21:46:28.184,2021-02-02 21:46:28.184
4,20200512,15,ebf57ebf-e26d-4ebd-8009-6ad519073d2a,4,IT,29,810d1d00-4312-43e5-bd31-d8373fdd24c7,42504393,CLR22E00A-Q11,0,...,4,2,42504393,4,0.66667,95.0,None,10,2021-02-02 21:46:28.184,2021-02-02 21:46:28.184

In [ ]:
#To save data to S3
df.to_parquet('s3://zalando-datalab/data/users/esugecmez/xxxxxx.parquet')
#To read data from S3
df = pd.read_parquet('s3://zalando-datalab/data/users/esugecmez/xxxxxx.parquet')

In [ ]:
## datalab tips from Konstantinos:

'https://github.bus.zalan.do/merchant-analytics/Knowledge-Sharing/blob/master/DataLab%20and%20Python%20every%20day%20tips.ipynb'

In [29]:
###Gsheet integration
### give this email an editor permission: 'ermansugecmez-drive@team-mea.iam.gserviceaccount.com'

In [26]:
import pandas as pd 
data = [['tom', 10], ['nick', 15], ['juli', 14]]
df = pd.DataFrame(data, columns = ['Name', 'Age'])
df

   Name  Age
0   tom   10
1  nick   15
2  juli   14

In [28]:
### WRITE
import warnings
warnings.filterwarnings("ignore")
# For connect to google sheet
import gspread
from oauth2client.service_account import ServiceAccountCredentials
from df2gspread import df2gspread as d2g
import pygsheets

# Configure the connection 
scope = ['https://spreadsheets.google.com/feeds']
# Give the path to the Service Account Credential json file 
credentials = ServiceAccountCredentials.from_json_keyfile_name('/home/esugecmez/nfs/team-mea-8e9a97d757fd.json',scope)
# Authorise your Notebook
gc = gspread.authorize(credentials)

# The sprad sheet ID, which can be taken from the link to the sheet
Googlesheet = pygsheets.authorize(service_file='/home/esugecmez/nfs/team-mea-8e9a97d757fd.json')
wsheet = Googlesheet.open_by_url('https://docs.google.com/spreadsheets/d/1-TlnvgvT5eNQgLGrAOIgkylv4TKHow7G4P_VlYFUxwM/edit#gid=0')
data_df = wsheet.worksheet('title','Sheet1')
data_df.clear(start='A1', end=None)
data_df.set_dataframe(df, 'A1', copy_index= False , copy_head=True, extend=False, fit=False, escape_formulae=False)

In [24]:
### READ
# https://gspread.readthedocs.io/en/latest/user-guide.html#
import gspread
from oauth2client.service_account import ServiceAccountCredentials
import pandas as pd

scope = ['https://spreadsheets.google.com/feeds',
         'https://www.googleapis.com/auth/drive']

credentials = ServiceAccountCredentials.from_json_keyfile_name(
         '/home/esugecmez/nfs/team-mea-8e9a97d757fd.json', scope) # Your json file here

gc = gspread.authorize(credentials)

wks = gc.open_by_key('1-TlnvgvT5eNQgLGrAOIgkylv4TKHow7G4P_VlYFUxwM').worksheet("Sheet1")
data = wks.get_all_values()
list_df = pd.DataFrame(data, columns=data.pop(0))

In [25]:
list_df

   a  d  s  as
0  a  d  s  as
1  a  d  s  as
2  a  d  s  as
3  a  d  s  as
4  a  d  s  as
5  a  d  s  as
6  a  d  s  as
7  a  d  s  as
8  a  d  s  as
9  a  d  s  as